/* Structure reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Page debug styles: background and div outlines -- REMOVE when finished */

body {
    background-color: LightGray;
    font-family: 'Roboto Light', sans-serif;
}
div {
    border: 1px solid Chocolate;
}

/*Navigation bar*/
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 940px;
	height: 70px;
	margin: 0 auto;
}
.top-navigation .content {
	padding: 0 15px;
}
.top-navigation .content > img {
	width: 26px;
	height: 70px;
}

/* Navigation links*/
.top-navigation .links {
	float: right;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links > li {
	display: inline-block;
	margin-left: 25px;
	font-family: 'Roboto Regular', sans-serif; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	transition: color 0.5s ease;
}
.top-navigation .links > li:hover {
	color: #333333;
	cursor: pointer;
}
.introduction {
	height: 590px;
	background-image: url(../img/first-background.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	overflow: auto;
}
.introduction h1, 
.introduction h3 {
	color: #fff;
	text-align: center;
	
}
h1 {
	font-size: 3em;
	margin-top: 4em;
	margin-bottom: 0.5em;
	font-family: 'Arvo Bold', serif;
}
h3 {
	font-size: 1.4em;
	font-family: 'Arvo Regular', serif;
	margin-bottom: 2em;
}
.buttons {
	width: 300px;
	margin: 0 auto;
}
.half {
	float: left;
}
button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 26px;
	line-height: 1.33;
	font-size: 1em;

}
.buttons {
	clear: both;
}
.learn {
	margin-right: 20px;
}
.watch {
	color: #fff;
	text-align: center;
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../fonts/Roboto/Roboto-Light.ttf); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/Roboto/Roboto-Regular.ttf); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 400;
}
@font-face {
  font-family: 'Arvo Bold';
  src: url(../fonts/Arvo/Arvo-Bold.ttf); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 700;
}
@font-face {
  font-family: 'Arvo Regular';
  src: url(../fonts/Arvo/Arvo-Regular.ttf); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 700;
}


























